










h1, h2, h3, h4, h5, h6 {
    font-size: larger;
    margin-bottom: 0px;
}



/*
.SectionTitle {
    background: linear-gradient(#FEFEFE, #F3F5F5);
    background: -o-linear-gradient(#FEFEFE, #F3F5F5);
    background: -ms-linear-gradient(#FEFEFE, #F3F5F5);
    background: -moz-linear-gradient(#FEFEFE, #F3F5F5);
    background: -webkit-linear-gradient(#FEFEFE, #F3F5F5);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1.00, #F3F5F5), color-stop(0.00, #FEFEFE));
    border: 1px solid #AAAAAA;
    border-radius: 3px;
    box-sizing: border-box;
    font-size: 22px;
    margin: 0 0 20px;
    padding: 8px 10px 8px 26px;
    position: relative;
    width: 100%;
  }
  
  .SectionTitle:before {
    background-color: #1B73BA;
    border-radius: 3px;
    content: " ";
    display: inline-block;
    height: 60%;
    left: 10px;
    margin-right: 10px;
    position: absolute;
    top: 20%;
    width: 6px;
  }
  .SubSectionTitle {
    background: linear-gradient(#F3F5F5, #fff);
    background: -o-linear-gradient(#F3F5F5, #fff);
    background: -ms-linear-gradient(#F3F5F5, #fff);
    background: -moz-linear-gradient(#F3F5F5, #fff);
    background: -webkit-linear-gradient(#F3F5F5, #fff);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1.00, #fff), color-stop(0.00, #F3F5F5));
    border-bottom: 2px solid #1B73BA;
    box-sizing: border-box;
    font-size: 18px;
    margin: 0 0 20px;
    padding: 7px 0 5px 10px;
  }
  .SubSubSectionTitle {
    border-bottom: 2px solid #1B73BA;
    font-size: 18px;
    margin: 0 0 20px;
    padding-bottom: 5px;
  }
  .SubSubSubSectionTitle {
    font-size: 16px;
    margin: 0 0 20px;
  }
  
  .SubSubSubSectionTitle:before {
    background-color: #1B73BA;
    border-radius: 2px;
    content: "";
    display: inline-block;
    height: 15px;
    margin-right:  8px;
    vertical-align: middle;
    width: 4px;
  }
*/


.SectionTitle {
    background: #1B73BA;
    box-sizing: border-box;
    color: #FFFFFF;
    font-size: 30px;
    margin-bottom: 30px;
    padding: 8px 10px;
    position: relative;
    width: 100%;
  }
  
  .SectionTitle:before {
    border: 10px solid transparent;
    border-top: 10px solid #1B73BA;
    content: "";
    height: 0;
    left: 10px;
    position: absolute;
    top: 100%;
    width: 0;
  }

  .SubSectionTitle {
    border-bottom: 2px solid #1B73BA;
    box-sizing: border-box;
    font-size: 24px;
    font-weight: bold;
    margin: 0 0 20px;
    padding: 7px 0 2px 0;
  }
  
  .SubSectionTitle:before {
    background-image: url(/stylerecipe_img/flat_arrow_blue01.png);
    background-repeat: no-repeat;
    content: " ";
    display: inline-block;
   *display:inline;
   *zoom:1;
    height: 20px;
    padding: 0 12px 2px 0;
    vertical-align: middle;
    width: 10px;
  }

  .SubSubSectionTitle {
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 20px;
  }
  
  .SubSubSectionTitle:before {
    background-image: url(/stylerecipe_img/flat_arrow_blue01.png);
    background-repeat: no-repeat;
    background-size: 8px 15px;
    content: " ";
    display: inline-block;
   *display:inline;
   *zoom:1;
    height: 15px;
    padding: 0 10px 2px 0;
    vertical-align: middle;
    width: 8px;
  }
  .SubSubSubSectionTitle {
    font-size: 16px;
    margin: 0 0 20px;
  }
  
  .SubSubSubSectionTitle:before {
    background-image: url(/stylerecipe_img/flat_arrow_blue01.png);
    background-repeat: no-repeat;
    background-size: 6px 11px;
    content: " ";
    display: inline-block;
   *display:inline;
   *zoom:1;
    height: 11px;
    padding: 0 10px 2px 0;
    vertical-align: middle;
    width: 6px;
  }

/*
.SectionTitle {
    position: relative;
    padding: .25em 0 .5em .75em;
    border-left: 6px solid #ccc;
}

    .SectionTitle::before {
        position: absolute;
        left: -6px;
        bottom: 0;
        content: '';
        width: 6px;
        height: 50%;
        background-color: #3498db;
    }

    .SectionTitle::after {
        position: absolute;
        left: 0;
        bottom: 0;
        content: '';
        width: 100%;
        height: 0;
        border-bottom: 1px solid #ccc;
    }



.SubSubSectionTitle {
    padding: .25em 0 .25em .75em;
    border-left: 6px solid #ccc;
}
*/

.Section {
    list-style: none;
    margin: 0 0 0 0em;
    padding: 0 0 0 0.5em;
    border-left: 3px double #eee;
}


figure {
    text-align: right;
}

    figure img {
        max-width: 600px;
        width: 80%;
    }

figcaption {
    font-weight: bold;
}

p {
    line-height: 2.0em;
    letter-spacing: 0.8pt;
}


table {
    width: 100%;
    margin: 0px 0 30px 0;
    font-size: 0.875em;

    border-collapse: collapse;
    border-spacing: 0px;

}

    /* table tbody {
        border-top: #e6e6e6 0px solid;
    } */

    table tr {
        /* -webkit-transition: background .15s;
        -moz-transition: background .15s;
        -ms-transition: background .15s;
        -o-transition: background .15s;
        transition: background .15s; */
        
    }

        table tbody tr:nth-child(odd) {
            background: #fff;
        }
        table tbody tr:nth-child(even) {
            
            background: #f5f5f5;
        }
        table tbody tr:hover {
            outline: #00cccc 1px solid;
        }

    table th{
            
        
        background-color: #eee;
        border: 1px solid #b9b9b9;
    }

    table td {
        vertical-align: top;
        padding: 7px 10px;

        
        border: 1px solid #b9b9b9;
    }

        table tbody th {
            width: 18%;
        }

        table tbody td {
            /* width: 82%; */
        }

        table thead th {
            font-weight: 700;
        }
        
/* 
table.List {
    width: 100%;
    margin: 0px 0 30px 0;
    font-size: 0.875em;
}

    table.List tbody {
        border-top: #e6e6e6 0px solid;
    }

    table.List tr {
        -webkit-transition: background .15s;
        -moz-transition: background .15s;
        -ms-transition: background .15s;
        -o-transition: background .15s;
        transition: background .15s;
    }

        table.List tr:nth-child(odd) {
            background: #f8f8f8;
        }

        table.List tr:hover {
            outline: #00cccc 1px solid;
        }

    table.List td {
        vertical-align: top;
        padding: 7px 10px;
    }

        table.List td.Label {
            width: 18%;
        }

        table.List td.Desc {
            width: 82%;
        }

        table.List td.Name {
            font-weight: 700;
        }
        
table.Standard {
    width: 100%;
    border-collapse: collapse;
}

    table.Standard th {
        width: 25%;
        padding: 6px;
        text-align: left;
        vertical-align: top;
        color: #333;
        background-color: #eee;
        border: 1px solid #b9b9b9;
    }

    table.Standard td {
        padding: 6px;
        background-color: #fff;
        border: 1px solid #b9b9b9;
    }

     */




     ul.Tree {
        list-style: none;
    }
    
        ul.Tree ul {
            list-style: none;
        }
    
            ul.Tree ul li:before {
                content: "├";
                margin: 0px 4px 0px 0px;
            }
    
            ul.Tree ul li:last-child:before {
                content: "└";
                margin: 0px 4px 0px 0px;
            }
    



code{
    padding: 2px 4px;
    font-size: 90%;
    /* color: #4a4a4a; */
    background-color: #ffffff;
    border-radius: 3px;
}















.Box {
    position: relative;
    margin: 2em 0;
    padding: 0.5em 1em;
    border: solid 3px #95ccff;
    border-radius: 8px;
}

    .Box .BoxTitle {
        position: absolute;
        display: inline-block;
        top: -13px;
        left: 10px;
        padding: 0 9px;
        line-height: 1;
        font-size: 19px;
        background: #F8F8FF;
        color: #95ccff;
        font-weight: bold;
    }

    .Box p {
        margin: 0;
        padding: 0;
    }













    


a {
    /* color: rgb(0, 102, 204); */
}

a[name]{
    /* color: initial; */
}










            
/* 
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
} */


.LessEmphasize {
    font-size: medium;
}

body {
    font-size: 12pt;
    color: #4a4a4a;
    /*font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica Neue,Hiragino Kaku Gothic ProN,"メイリオ",meiryo,sans-serif*/
    font-family: "arial";
}


#HeaderArea {
    position: fixed;
    z-index: 100;
    color: white;
    font-size: 25pt;
    background-color: green;
    margin: 0px;
    border: 0px;
    padding: 0px 0px 0px 5px;
    top: 0px;
    right: 0px;
    width: 100%;
    overflow: hidden;
    height: 1em;
}

    #HeaderArea a {
        text-decoration: none;
        color: white;
    }

@keyframes HeaderAreaDisappear {
    from {
        width: 100%;
    }

    to {
        width: 0%;
    }
}

@keyframes HeaderAreaAppear {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}

#LeftSideArea {
    margin: 0;
    padding: 0;
    position: fixed;
    top: 120px;
    bottom: 50px;
    left: 0px;
    width: 25%;
    overflow-x: hidden;
}

@keyframes LeftSideAreaRiseUp {
    from {
        top: 120px;
    }

    to {
        top: 70px;
    }
}

@keyframes LeftSideAreaRiseDown {
    from {
        top: 70px;
    }

    to {
        top: 120px;
    }
}

#IndexAreaOnSmallScreen {
    display: none;
    border: 4px double #ddd;
    margin: 2em 0em;
}

#RightSideArea {
    position: fixed;
    margin: 0px;
    top: 50px;
    right: 0px;
    width: 20%;
    bottom: 80px;
    background-color: white;
}

    #RightSideArea div.Navi {
        /* top: 2em;
        right: 0px;
        left: 0px;
        bottom: 3em; */
        height: 90%;
        font-size: 0.7em;
        margin: 0px;
        overflow-x: hidden;
        /* overflow: auto; */
        /* position: absolute;  */
    }

#MainPageBottomAppearingOnSmallScreen {
    display: none;
    margin: 0px;
    padding: 2em 0 0 0;
    background-color: white;
}

#MainArea {
    margin-left: 25%;
    margin-right: 20%;
    margin-top: 110px;
    margin-bottom: 50px;
    padding: 1%;
    background-color: #F8F8FF;
}

#TopArea {
    position: fixed;
    z-index: 97;
    top: 0px;
    left: 0px;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 0px 10px 0px 10px;
    margin: 0px;
}

@keyframes TopAreaSlideUp {
    from {
        top: 0px;
    }

    to {
        top: -50px;
    }
}

@keyframes TopAreaSlideDown {
    from {
        top: -50px;
    }

    to {
        top: 0px;
    }
}


#BottomLeftArea {
    position: fixed;
    z-index: 99;
    bottom: 0px;
    left: 0px;
    padding: 12.5px 0px 0px 0px;
    /*background-color: rgba(255, 173, 144, 0.7);*/
    /*background-color: rgba(219, 162, 64, 0.5);*/
    /* background-color: rgba(186, 30, 27, 0.5); */
    /* background-color: rgba(110, 31, 135, 0.5); */
    background-color: rgba(206, 128, 0, 0.5);
    margin: 0px;
    font-size: 10pt;
    text-align: left;
    /*border-radius: 100% 20% 0% 0% / 50% 20% 0% 0%;*/
    border-radius: 50% 50% 10% 10% / 10% 50% 10% 10%;
    word-break:break-all;
    animation-duration: 1s;
    animation-name: BrotherAreaAppear;
    width: 100px;
    height: 80px;
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer */
    /* -khtml-user-select: none;  KHTML browsers (e.g. Konqueror) */
    -webkit-user-select: none; /* Chrome, Safari, and Opera */
    -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
}

#BottomRightArea {
    position: fixed;
    z-index: 99;
    bottom: 0px;
    right: 0px;
    width: 100px;
    height: 80px;
    /* background-color: rgba(219, 162, 64, 0.5); */
    /*background-color: rgba(255, 173, 144, 0.7);*/
    /* background-color: rgba(186, 30, 27, 0.5); */
    /* background-color: rgba(110, 31, 135, 0.5); */
    background-color: rgba(206, 128, 0, 0.5);
    padding: 12.5px 0px 0px 0px;
    margin: 0px;
    font-size: 10pt;
    text-align: right;
    /*border-radius: 20% 100% 0% 0% / 20% 50% 0% 0%;*/
    border-radius: 50% 50% 10% 10% / 50% 10% 10% 10%;
    word-break:break-all;
    animation-duration: 1s;
    animation-name: BrotherAreaAppear;
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer */
    /* -khtml-user-select: none;  KHTML browsers (e.g. Konqueror) */
    -webkit-user-select: none; /* Chrome, Safari, and Opera */
    -webkit-touch-callout: none; /* Disable Android and iOS callouts*/

}

#BottomLeftArea:hover {
    /*background-color: rgba(255, 69, 0, 0.7);*/
    
    /* background-color: rgba(219, 162, 64, 0.7); */
    background-color: rgba(206, 128, 0, 0.7);
}

#BottomRightArea:hover {
    /*background-color: rgba(255, 69, 0, 0.7);*/
    
    /* background-color: rgba(219, 162, 64, 0.7); */
    
    background-color: rgba(206, 128, 0, 0.7);
}

@keyframes BrotherAreaAppear {
    from {
        width: 0px;
        height: 0px;
    }

    to {
        width: 100px;
        height: 80px;
    }
}
/*
#LoadingBox {
    position: fixed !important;
    position: absolute;
    margin: 0px;
    padding: 0px;
}

.ErrorBox {
    position: fixed !important;
    position: absolute;
    margin: 0px;
    padding: 0px;
}
    
#canvas {
    position: fixed !important;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

*/
#ErrorMessageBox {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #FF3333;
    color: white;
    padding: 20px;
}

.ContentContainer {
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer */
    /* -khtml-user-select: none;  KHTML browsers (e.g. Konqueror) */
    -webkit-user-select: none; /* Chrome, Safari, and Opera */
    -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#QuickLookArea {
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer */
    /* -khtml-user-select: none;  KHTML browsers (e.g. Konqueror) */
    -webkit-user-select: none; /* Chrome, Safari, and Opera */
    -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
    border: solid 1px black;
    background-color: #FFFFFF;
    z-index: 98;
    display: none;
    position: fixed;
    width: 80%;
    height: 80%;
    top: 10%;
    left: 10%;
    pointer-events: none;
}

@keyframes QuickLookAreaSlideInFromBottomRight {
    from {
        top: 100%;
        left: 100%;
        opacity: 0.0;
    }

    to {
        top: 10%;
        left: 10%;
        opacity: 1.0;
    }
}

@keyframes QuickLookAreaSlideInFromBottomLeft {
    from {
        top: 100%;
        left: 0%;
        opacity: 0.0;
    }

    to {
        top: 10%;
        left: 10%;
        opacity: 1.0;
    }
}

@keyframes QuickLookAreaFadeIn {
    from {
        opacity: 0.0;
    }

    to {
        opacity: 1.0;
    }
}

@keyframes QuickLookAreaFadeOut {
    from {
        opacity: 1.0;
    }

    to {
        opacity: 0.0;
    }
}

.ChildField {
    margin: 5px;
    padding: 5px;
    border: solid 1px red;
}

.ChildDetailButton {
    background-color: rgba(0, 128, 0, 0);
    border-radius: 100% 20% 100% 20% / 50% 20% 50% 20%;
    border: solid 2px green;
    animation-duration: 1s;
    animation-name: ChildDetailButtonOutlined;
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer */
    /* -khtml-user-select: none;  KHTML browsers (e.g. Konqueror) */
    -webkit-user-select: none; /* Chrome, Safari, and Opera */
    -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
}

    .ChildDetailButton:hover {
        background-color: rgba(0, 128, 0, 255);
    }

@keyframes ChildDetailButtonOutlined {
    from {
        background-color: rgba(0, 128, 0, 255);
    }

    to {
        background-color: rgba(0, 128, 0, 0);
    }
}

.ParentField {
    font-size: 10pt;
    margin: 0px;
    padding-top: 50px;
    padding-left: 5px;
    padding-right: 5px;
    /*background-color: rgba(255, 173, 144, 0.5);*/
    /* background-color: rgba(219, 162, 64, 0.5); */
    /* background-color: rgba(186, 30, 27, 0.5); */
    /* background-color: rgba(110, 31, 135, 0.5); */
    background-color: rgba(206, 128, 0, 0.5);
    display: inline-block;
}

.Title {
    font-size: 1.4em;
    padding-left: 10px;
    margin-top: 15px;
    margin-bottom: 0px;
}

.FileDateField {
    height: 1em;
    text-align: right;
    margin: 1.12em 0;
}

    .FileDateField img {
        height: 100%;
    }

.Summary {
    background-color: #F0F0F8;
    padding: 10px;
}

.MainContent {
    margin-left: 10px;
}

p.ResizeImage {
    text-align: right;
}

    p.ResizeImage img {
        max-width: 600px;
        width: 80%;
    }

.Area {
    padding: 10px;
    border: solid 1px black;
    overflow: auto;
}

.LinkButtonBlock {
    border-style: solid;
    border-width: 1px;
    border-color: #ccc #999 #999 #ccc;
    padding: 0.3em 0.9em;
    background: linear-gradient(top, #fff, #ccc);
    text-decoration: none;
    display: block;
    text-align: center;
    margin: 0.5em auto;
    -webkit-transition: all .3s;
    transition: all .3s;
}


    .LinkButtonBlock:hover {
        background-color: #59b1eb;
    }

div.Navi {
    font-size: 0.875em;
    list-style: none;
    margin-top: 5px;
    /*margin-left: 10px;*/
    padding: 0px;
}

    div.Navi ul {
        margin: 0 0 0 0.8em;
        padding: 0px;
        list-style: none;
    }

    div.Navi li {
        margin: 0px;
        padding: 0px;
        list-style: none;
    }

    div.Navi a {
        color: #BBBBBB;
        text-decoration: none;
        display: block;
        border: solid white 2px;
        padding: 0.1em 0em 0.1em 0.5em;
    }

        div.Navi a.Selected {
            color: #444444;
            background-color: #EEEEEE;
        }

        div.Navi a:hover {
            color: #444444;
            text-decoration: underline;
            background-color: #EEEEEE;
        }
        


        
        
/*
.box {
    position: relative;
    margin: 2em 0;
    padding: 0.5em 1em;
    border: solid 3px #62c1ce;
}

    .box .box-title {
        position: absolute;
        display: inline-block;
        top: -27px;
        left: -3px;
        padding: 0 9px;
        height: 25px;
        line-height: 25px;
        vertical-align: middle;
        font-size: 17px;
        background: #62c1ce;
        color: #ffffff;
        font-weight: bold;
        border-radius: 5px 5px 0 0;
    }

    .box p {
        margin: 0;
        padding: 0;
    }
*/
@media screen and (max-width: 1000px) {

    body {
        -webkit-text-size-adjust: 100%;
        font-size: 11pt;
    }

    ul {
        margin: 0 0 0 1em;
        padding: 0;
    }

    ol {
        margin: 0 0 0 1.5em;
        padding: 0;
    }
}

/*
    memo:
        SmartPhoneWidth = max-width: 479px
*/
@media screen and (max-width: 750px) {

    body {
        -webkit-text-size-adjust: 100%;
        font-size: 10pt;
    }

    ul {
        margin: 0 0 0 1em;
        padding: 0;
    }

    ol {
        margin: 0 0 0 1.5em;
        padding: 0;
    }
}


@media screen and (max-width: 500px) {
    body {
        -webkit-text-size-adjust: 100%;
        font-size: 11pt;
    }

    #MainArea {
        margin-left: auto;
        margin-right: auto;
    }

    #LeftSideArea {
        display: none;
    }

    #MainPageBottomAppearingOnSmallScreen {
        display: block;
    }

    #RightSideArea {
        display: none;
    }

    #IndexAreaOnSmallScreen {
        display: block;
    }
}
