/*
*ContentsViewerStandard
*   最終更新日:
*       2.18.2016
*
*   説明:
*       ContentsViewerStandardが用いるStyleSheetです
*
*   更新履歴:
*       8.24.2016:
*           プログラムの完成
*
*       10.5.2016:
*           GUI関係外部と分離
*
*       10.7.2016:
*           iPhoneを横にしたときの文字サイズを調整
*
*       11.15.2016:
*           レイアウト調整
*           スタイル BottomRightArea, BottomLeftArea追加
*
*       12.2.2016:
*           bottomAreaの透明度変更
*
*       2.18.2017:
*           デザイン大きく変更
*/
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-size: larger;
    margin-bottom: 0px;
}

.LessEmphasize {
    font-size: medium;
}

body {
    font-size: 13pt;
    color: #222222;
    font-family: "arial";
}

.SubSection {
    position: relative;
    padding: .25em 0 .5em .75em;
    border-left: 6px solid #ccc;
}

    .SubSection::before {
        position: absolute;
        left: -6px;
        bottom: 0;
        content: '';
        width: 6px;
        height: 50%;
        background-color: #3498db;
    }

    .SubSection::after {
        position: absolute;
        left: 0;
        bottom: 0;
        content: '';
        width: 100%;
        height: 0;
        border-bottom: 1px solid #ccc;
    }

.SubSubSection {
    padding: .25em 0 .25em .75em;
    border-left: 6px solid #ccc;
}

#HeaderArea {
    position: fixed;
    z-index: 100;
    color: white;
    font-size: 24pt;
    background-color: green;
    margin: 0px;
    border: 0px;
    padding: 0px 0px 5px 5px;
    top: 0px;
    right: 0px;
    height: 1em;
    width: 100%;
    overflow: hidden;
}

@keyframes HeaderAreaDisappear {
    from {
        width: 100%;
    }

    to {
        width: 0px;
    }
}

@keyframes HeaderAreaAppear {
    from {
        width: 0px;
    }

    to {
        width: 100%;
    }
}

#LeftSideArea {
    margin: 0;
    padding: 0;
    position: fixed;
    top: 120px;
    bottom: 50px;
    left: 0px;
    width: 25%;
    overflow-x: hidden;
}

#MainPageBottomAppearingOnSmallScreen {
    display: none;
    margin: 0px;
    padding: 2em 0 0 0;
    background-color: white;
}

#MainArea {
    margin-left: 25%;
    margin-top: 110px;
    margin-bottom: 50px;
    background-color: #F8F8FF;
}

#TopArea {
    position: fixed;
    z-index: 97;
    top: 0px;
    left: 0px;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 0px 10px 0px 10px;
    margin: 0px;
}

@keyframes TopAreaSlideUp {
    from {
        top: 0px;
    }

    to {
        top: -50px;
    }
}

@keyframes TopAreaSlideDown {
    from {
        top: -50px;
    }

    to {
        top: 0px;
    }
}


#BottomLeftArea {
    position: fixed;
    z-index: 99;
    bottom: 0px;
    left: 0px;
    padding: 12.5px 0px 0px 0px;
    background-color: rgba(255, 173, 144, 0.7);
    margin: 0px;
    font-size: 10pt;
    text-align: left;
    border-radius: 100% 20% 0% 0% / 50% 20% 0% 0%;
    animation-duration: 1s;
    animation-name: BrotherAreaAppear;
    width: 170px;
    height: 30px;
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer */
    /* -khtml-user-select: none;  KHTML browsers (e.g. Konqueror) */
    -webkit-user-select: none; /* Chrome, Safari, and Opera */
    -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
}

#BottomRightArea {
    position: fixed;
    z-index: 99;
    bottom: 0px;
    right: 0px;
    width: 170px;
    height: 30px;
    background-color: rgba(255, 173, 144, 0.7);
    padding: 12.5px 0px 0px 0px;
    margin: 0px;
    font-size: 10pt;
    text-align: right;
    border-radius: 20% 100% 0% 0% / 20% 50% 0% 0%;
    animation-duration: 1s;
    animation-name: BrotherAreaAppear;
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer */
    /* -khtml-user-select: none;  KHTML browsers (e.g. Konqueror) */
    -webkit-user-select: none; /* Chrome, Safari, and Opera */
    -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
}

#BottomLeftArea:hover {
    background-color: rgba(255, 69, 0, 0.7);
}

#BottomRightArea:hover {
    background-color: rgba(255, 69, 0, 0.7);
}

@keyframes BrotherAreaAppear {
    from {
        width: 0px;
        height: 0px;
    }

    to {
        width: 170px;
        height: 30px;
    }
}
/*
#LoadingBox {
    position: fixed !important;
    position: absolute;
    margin: 0px;
    padding: 0px;
}

.ErrorBox {
    position: fixed !important;
    position: absolute;
    margin: 0px;
    padding: 0px;
}
    
#canvas {
    position: fixed !important;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

*/
#ErrorMessageBox {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #FF3333;
    color: white;
    padding: 20px;
}

.ContentContainer {
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer */
    /* -khtml-user-select: none;  KHTML browsers (e.g. Konqueror) */
    -webkit-user-select: none; /* Chrome, Safari, and Opera */
    -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#QuickLookArea {
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer */
    /* -khtml-user-select: none;  KHTML browsers (e.g. Konqueror) */
    -webkit-user-select: none; /* Chrome, Safari, and Opera */
    -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
    border: solid 1px black;
    background-color: #FFFFFF;
    z-index: 98;
    display: none;
    position: fixed;
    width: 80%;
    height: 80%;
    top: 10%;
    left: 10%;
    pointer-events: none;
}

@keyframes QuickLookAreaSlideInFromBottomRight {
    from {
        top: 100%;
        left: 100%;
        opacity: 0.0;
    }

    to {
        top: 10%;
        left: 10%;
        opacity: 1.0;
    }
}

@keyframes QuickLookAreaSlideInFromBottomLeft {
    from {
        top: 100%;
        left: 0%;
        opacity: 0.0;
    }

    to {
        top: 10%;
        left: 10%;
        opacity: 1.0;
    }
}

@keyframes QuickLookAreaFadeIn {
    from {
        opacity: 0.0;
    }

    to {
        opacity: 1.0;
    }
}

@keyframes QuickLookAreaFadeOut {
    from {
        opacity: 1.0;
    }

    to {
        opacity: 0.0;
    }
}

.ChildField {
    margin: 5px;
    padding: 5px;
    border: solid 1px red;
}

.ChildDetailButton {
    background-color: rgba(0, 128, 0, 0);
    border-radius: 100% 20% 100% 20% / 50% 20% 50% 20%;
    border: solid 2px green;
    animation-duration: 1s;
    animation-name: ChildDetailButtonOutlined;
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer */
    /* -khtml-user-select: none;  KHTML browsers (e.g. Konqueror) */
    -webkit-user-select: none; /* Chrome, Safari, and Opera */
    -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
}

    .ChildDetailButton:hover {
        background-color: rgba(0, 128, 0, 255);
    }

@keyframes ChildDetailButtonOutlined {
    from {
        background-color: rgba(0, 128, 0, 255);
    }

    to {
        background-color: rgba(0, 128, 0, 0);
    }
}

.ParentField {
    font-size: 10pt;
    margin: 0px;
    padding-top: 50px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: rgba(255, 173, 144, 0.5);
    display: inline-block;
}

.Title {
    font-size: 1.4em;
    padding-left: 10px;
    margin-top: 15px;
    margin-bottom: 0px;
}

.FileDateField {
    height: 1em;
    text-align: right;
    margin: 1.12em 0;
}
.FileDateField img{
    height: 100%;
}

.Abstract {
    background-color: #F0F0F8;
    padding: 10px;
}

.RootContent {
    margin-left: 10px;
}

p.ResizeImage {
    text-align: center;
}

    p.ResizeImage img {
        max-width: 600px;
        width: 100%;
    }

.Area {
    padding: 10px;
    border: solid 1px black;
    overflow: auto;
}

.LinkButtonBlock {
    border-style: solid;
    border-width: 1px;
    border-color: #ccc #999 #999 #ccc;
    padding: 0.3em 0.9em;
    background: linear-gradient(top, #fff, #ccc);
    text-decoration: none;
    display: block;
    text-align: center;
    margin: 0.5em auto;
    -webkit-transition: all .3s;
    transition: all .3s;
}


    .LinkButtonBlock:hover {
        background-color: #59b1eb;
    }

ol.SectionList {
    list-style: none;
    margin: 0;
    padding: 0 0 0 1em;
}

ul.SectionList {
    list-style: none;
    margin: 0;
    padding: 0 0 0 1em;
}

ul.Navi {
    font-size: 0.875em;
    list-style: none;
    margin-top: 5px;
    margin-left: 10px;
    padding: 0px;
}

    ul.Navi ul {
        margin: 0 0 0 0.8em;
        padding: 0px;
        list-style: none;
    }

    ul.Navi li {
        margin: 0px;
        padding: 0px;
        list-style: none;
    }

    ul.Navi a {
        color: #BBBBBB;
        text-decoration: none;
        display: block;
        border: solid white 2px;
        padding: 0.1em 0 0.1em 0.5em;
    }

        ul.Navi a.Selected {
            color: #444444;
            background-color: #EEEEEE;
        }

        ul.Navi a:hover {
            color: #444444;
            text-decoration: underline;
            background-color: #EEEEEE;
        }


table.list {
    width: 100%;
    margin: 0px 0 30px 0;
    font-size: 0.875em;
}

    table.list tbody {
        border-top: #e6e6e6 0px solid;
    }

    table.list tr {
        -webkit-transition: background .15s;
        -moz-transition: background .15s;
        -ms-transition: background .15s;
        -o-transition: background .15s;
        transition: background .15s;
    }

        table.list tr:nth-child(odd) {
            background: #f8f8f8;
        }

        table.list tr:hover {
            outline: #00cccc 1px solid;
        }

    table.list td {
        vertical-align: top;
        padding: 7px 10px;
    }

        table.list td.lbl {
            width: 18%;
        }

        table.list td.desc {
            width: 82%;
        }

        table.list td.name {
            font-weight: 700;
        }

@media screen and (max-width: 1000px) {

    body {
        -webkit-text-size-adjust: 100%;
        font-size: 12pt;
    }

    ul {
        margin: 0 0 0 1em;
        padding: 0;
    }

    ol {
        margin: 0 0 0 1.5em;
        padding: 0;
    }
}

/*
    memo:
        SmartPhoneWidth = max-width: 479px
*/
@media screen and (max-width: 750px) {

    body {
        -webkit-text-size-adjust: 100%;
        font-size: 11pt;
    }

    ul {
        margin: 0 0 0 1em;
        padding: 0;
    }

    ol {
        margin: 0 0 0 1.5em;
        padding: 0;
    }
}


@media screen and (max-width: 500px) {

    #MainArea {
        margin-left: auto;
    }

    #LeftSideArea {
        display: none;
    }

    #MainPageBottomAppearingOnSmallScreen {
        display: block;
    }
}
